---
type CardsGridContent = {
  topLeft: string;      
  middleLeft: string;   
  centerWide: string;   
  bottomCenter: string; 
  rightTall: string;   
};

const { content = {} as CardsGridContent } = Astro.props;
---

<section class="c--cards-grid">

  <div class="c--cards-grid__item c--cards-grid__item--i1">
    <div class="c--cards-grid__text-wrapper">
      <span class="c--cards-grid__text">{content.topLeft}</span>
    </div>
  </div>

  <div class="c--cards-grid__item c--cards-grid__item--i2">
    <div class="blue-notch"></div>
  </div>

  <div class="c--cards-grid__item c--cards-grid__item--i3">
    <div class="c--cards-grid__text-wrapper">
      <span class="c--cards-grid__text">{content.middleLeft}</span>
    </div>
  </div>

  <div class="c--cards-grid__item c--cards-grid__item--i4">
    <div class="c--cards-grid__text-wrapper">
      <span class="c--cards-grid__text">{content.centerWide}</span>
    </div>
  </div>

  <div class="c--cards-grid__item c--cards-grid__item--i5">
    <div class="c--cards-grid__text-wrapper">
      <span class="c--cards-grid__text">{content.bottomCenter}</span>
    </div>
  </div>

  <div class="c--cards-grid__item c--cards-grid__item--i6">
    <div class="green-notch"></div>
    <div class="c--cards-grid__text-wrapper">
      <span class="c--cards-grid__text">{content.rightTall}</span>
    </div>
  </div>

  <div class="c--cards-grid__item c--cards-grid__item--i7"></div>
</section>
